.map {
    width: 70%;
}

.sidebar {
    width: 30%;
    overflow-y: scroll;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.body {
    padding: 16px;
}

.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.item{
    color: rgb(76, 81, 109);
}

@media only screen and (max-width: 600px) {
    .map {
        height: 40%;
        width: 100%;
    }

    .imageWrapper {
        height: 30%;
        overflow: hidden;
    }

    .imageWrapper img {
        object-fit: none;
        object-position: 50% 100%;
    }

    .wrapper {
        flex-wrap: wrap;
        height: 100%;
    }

    .sidebar {
        height: 60%;
        width: 100%;
    }
}
